{% extends 'base.html.twig' %}

{% block content %}
    <div class="details">
        <div class="identifier">
            <p>Commande n°: {{ commande.id }}</p>
            <span>(Chargée par : {{ commande.ouvrier.nom }} {{ commande.ouvrier.prenom }})</span>
        </div>
        <div class="commande">
            <div class="commande-details">
                <div class="detail">
                    <span><strong>Date d'Enregistrement de la Commande</strong></span>
                    <p>{{ commande.date | date('d F Y H:i:s') }}</p>
                </div>
                <div class="detail">
                    <span><strong>Destination</strong></span>
                    <p>{{ commande.destination.libelle }}</p>
                </div>
                <div class="detail">
                    <span><strong>Transporté par</strong></span>
                    <p>{{ commande.transport.libelle }}</p>
                </div>
                <div class="detail">
                    <span><strong>Longueur du Moyen de Transport</strong></span>
                    <p>{{ commande.transport.longueur }} m</p>
                </div>
                <div class="detail">
                    <span><strong>Largeur du Moyen de Transport</strong></span>
                    <p>{{ commande.transport.largeur }} m</p>
                </div>
            </div>
            <div class="commande-details">
                <div class="detail">
                    <span><strong>Client</strong></span>
                    <p>{{ commande.client.nom }} {{ commande.client.prenom }}</p>
                </div>
                <div class="detail">
                    <span><strong>Poids Maximal</strong></span>
                    <p>{{ commande.destination.poidsMax }} Kg</p>
                </div>
                <div class="detail">
                    <span><strong>Type du Transport</strong></span>
                    <p>{{ commande.transport.type }}</p>
                </div>
                <div class="detail">
                    <span><strong>Hauteur du Moyen de Transport</strong></span>
                    <p>{{ commande.transport.hauteur }} m</p>
                </div>
                <div class="detail">
                    <span><strong>Poids du Moyen de Transport (Vide)</strong></span>
                    <p>{{ commande.transport.poidsVide }} Kg</p>
                </div>
            </div>
        </div>
        <div class="table-settings">
            <div class="table">
                <table border="1" class="data-table">
                    <thead>
                    <tr>
                        <th>
                            Moyen
                        </th>
                        <th>
                            Câble
                        </th>
                        <th>
                            Type
                        </th>
                        <th>
                            Couleur
                        </th>
                        <th>
                            Type du Métal
                        </th>
                        <th>
                            Poids (Kg/Km)
                        </th>
                        <th>
                            Caractéristiques
                        </th>
                        <th>
                            Longueur Total du Câble
                        </th>
                        <th>
                            Câble Découpé
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for palette in palettes %}
                        <tr>
                            <td>
                                Palette
                            </td>
                            <td>
                                {{ palette.cable.libelle }}
                            </td>
                            <td>
                                {{ palette.cable.type }}
                            </td>
                            <td>
                                {{ palette.cable.couleur }}
                            </td>
                            <td>
                                {{ palette.cable.typeMetal }}
                            </td>
                            <td>
                                {{ palette.cable.poidsKgKm }}
                            </td>
                            <td>
                                {{ palette.longueur }}x{{ palette.largeur }} /
                                {{ palette.longueurCableMin }} - {{ palette.longueurCableMax }}
                            </td>
                            <td>
                                {{ palette.cable.cableCommande[0].longueurCable }}
                            </td>
                            <td>
                                {% if palette.cable.cableCommande[0].cableDecoupe == true %}
                                    Oui
                                {% else %}
                                    Non
                                {% endif %}
                            </td>

                        </tr>
                    {% endfor %}
                    {% for touret in tourets %}
                        <tr>
                            <td>
                                Touret
                            </td>
                            <td>
                                {{ touret.cable.libelle }}
                            </td>
                            <td>
                                {{ touret.cable.type }}
                            </td>
                            <td>
                                {{ touret.cable.couleur }}
                            </td>
                            <td>
                                {{ touret.cable.typeMetal }}
                            </td>
                            <td>
                                {{ touret.cable.poidsKgKm }}
                            </td>
                            <td>
                                {{ touret.diametre }} /
                                {{ touret.longueurCableMin }} - {{ touret.longueurCableMax }}
                            </td>
                            <td>
                                {{ touret.cable.cableCommande[0].longueurCable }}
                            </td>
                            <td>
                                {% if touret.cable.cableCommande[0].cableDecoupe == true %}
                                    Oui
                                {% else %}
                                    Non
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}